{% extends 'authentication/base.html' %}
{% load socialaccount %}

{% block title %} SPARK | SignIn {% endblock title %}

{% block body %}

<main role="main">
    <div id="header">
        <a href="{% url 'landing' %}">
            <div class="logo">SPARK.</div>
        </a>
    </div>

    <div id="main">
        <div class="para">
            <p>To continue log in to Spark</p>
        </div>
        <a class="linksocial" href="{% provider_login_url 'facebook' method='oauth2' %}">
            <div class="loginfb">
                <img width="20px" alt="Facebook sign-in" src="https://www.facebook.com/images/fb_icon_325x325.png" />
                <p id="fb">LOGIN WITH FACEBOOK</p>
            </div>
        </a>
        <a class="linksocial" href="{% provider_login_url 'google' process='login' %}">
            <div class="logingoogle">
                <img width="20px" alt="Google sign-in"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                <p id="google">LOGIN WITH GOOGLE</p>
            </div>
        </a>
        <div class="linel"></div>
        <div class="liner"></div>
        <form method="post">
            <div id="form">
                {% csrf_token %} {{form}}
                <h5>Remember</h5>
                <input class="btn-toggle btn-toggle-round" id="btn-toggle-1" name="remember" type="checkbox" />
                <label for="btn-toggle-1"></label>
                <input name="login" type="submit" value="Log in" />
            </div>
        </form>
        <div id="footer">
            <p>Don't have an account? <u><a href="{% url 'signup' %}">Sign Up</a></u></p>
        </div>
    </div>
</main>

{% endblock body %}